* {
  margin: 0;
  padding: 0;
}

.cuadro-salida {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  margin: 300px auto;
  padding: 10px;
  background-color: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  position: absolute;
  height: 10%;
  left: 14%;
  top: 30%;
}

.texto-salida {
  width: 100%;
  height: 70px;
  border: none;
  background-color: #f3f5fc;
  font-family: "Inter";
  font-size: 18px;
  color: #495057;
  margin-bottom: 10px;
}

.botones-salida {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.btn-copiar,
.btn-borrar {
  padding: 10px 20px;
  background-color: #0a3871;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Inter";
  font-size: 16px;
}

.btn-copiar:hover,
.btn-borrar:hover {
  background-color: #08365c;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f3f5fc;
}

.texto {
  position: absolute;
  width: 40%;
  height: 30%;
  left: 12%;
  border: 2px solid #0a3871;
  border-radius: 24px;
  top: 15%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  background-color: #f3f5fc;
  padding: 10px;
}

.texto::placeholder {
  color: #0a3871;
}

.texto:focus,
.texto:active {
  outline: none;
}

.terminos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 80%;
  left: 13%;
  top: 80%;
}

.terminos p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.botones {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1% 0;
  position: absolute;
  width: 80%;
  left: 12%;
  top: 82%;
}

.btn-encriptar {
  align-items: center;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 25%;
  background-color: #0a3871;
  border-radius: 24px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #fff;
}

.btn-desencriptar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 25%;
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #0a3871;
}

.btn-desencriptar:hover,
.btn-encriptar:hover {
  margin: 0.3%;
  width: 24.5%;
  padding: 1.8%;
}

.encriptado {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 90%;
  left: 60%;
  top: 5%;
  background: #fff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.mensaje-encriptado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  gap: 16px;
  position: absolute;
  width: 100%;
  top: 65%;
  text-align: center;
}

.mensaje-encriptado h2 {
  width: 60%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343a40;
}

.mensaje-encriptado p {
  width: 80%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
}

.encriptado img {
  position: absolute;
  width: 80%;
  height: 50%;
  top: 15%;
}

.footer {
  width: 100%;
  background-color: #0a3871;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: "Inter";
  font-size: 22px;
}

/* Responsive design */
@media (max-width: 57.5em) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .encriptar {
    width: 100%;
  }
  .texto {
    width: 80%;
    height: 60%;
    left: 10%;
    top: 5%;
  }
  .terminos {
    width: 80%;
    left: 10%;
    top: 67%;
  }
  .terminos p {
    font-size: 16px;
  }
  .botones {
    width: 80%;
    left: 10%;
    top: 70%;
  }
  .btn-encriptar,
  .btn-desencriptar {
    width: 48%;
    border-radius: 16px;
  }
  .btn-encriptar:hover,
  .btn-desencriptar:hover {
    margin: 0.3%;
    width: 47.5%;
    padding: 1.8%;
  }
  .encriptado {
    width: 80%;
    height: 15%;
    left: 10%;
    top: 80%;
  }
  .mensaje-encriptado {
    width: 100%;
    top: 5%;
  }
  .encriptado img {
    top: 0;
    display: none;
    visibility: hidden;
  }
}
